//- start svg sprite - по hover цвет меняется только с миксином "mono-svg"
mixin mono-svg(name, cls, vb)
	- cls = cls || ''
	- vb = vb || false
	svg(class="svg-icon " + cls)&attributes({'viewbox': vb})
		use(xlink:href="images/sprite/sprite-mono.svg#" + name)

mixin multi-svg(name, cls)
	- cls = cls || ''
	svg(class="svg-icon svg-" + name + ' ' + cls)
		use(xlink:href="images/sprite/sprite-multi.svg#" + name)

mixin mono-img(name, cls, alt)
	- cls = cls || ''
	- alt = alt || name
	img(class="svg-icon svg-" + name + ' ' + cls src="images/sprite/sprite-mono.svg#" + name alt=name)

mixin multi-img(name, cls, alt)
	- cls = cls || ''
	- alt = alt || name
	img(class="svg-icon svg-" + name + ' ' + cls src="images/sprite/sprite-multi.svg#" + name alt=name)
	//- end svg sprite

//- start quantity 
//- input для указания кол-во товара - в карточке, после нажатия кнопки "В корзину"
mixin quantity(minGoods)
	- minGoods = minGoods || '1'
	.quantity.jsQ.none
		button.minus(type='button')
			span.mns
		input.result(type='text' data-min=minGoods value='10')
		button.plus(type='button')
			span.pls
//- end quantity

//- start breadcrumbs
//- items:крошки с сылками; last: последняя крошка, cls: доп.класс к блоку обёртке, links: ссылки на страницы по порядку, вместе с последней
mixin breadcrumb(items, last, cls, links)
	- cls= cls || '' 
	div(class="breadcrumbs" + ' ' + cls)
		- let i = 0;
		ul&attributes({
			'itemscope':'', 
			'itemtype':'https://schema.org/BreadcrumbList'})
			each item in items
				li&attributes({
				'itemprop':'itemListElement',
				'itemscope':'',
				'itemtype':'https://schema.org/ListItem'
				})
					if (item.length === 1)
						span.breadcrumb__link= item
						meta(itemprop='position' content=i++)
					else
						a(href="" + links[i], title=item, itemprop='item')
							span= item
							meta(itemprop='position' content=i++)

			if last
				li
					a(href='' + links[i], title=item, itemprop='item')
						span= last
						meta(itemprop='position' content=i)
//- end breadcrumbs